.center-container {
    margin: auto;
    margin-top: 2% !important;
}

.form-container {
    margin-top: 2rem !important;
}

.icon-register {
    width: 140px;
    margin: 0 auto auto auto;
}

.btn {
    padding: 12px 0;
}

.mat-mdc-form-field-hint {
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 2rem !important;
}

@media only screen and (max-width: 767px) {
    .icon-register {
        margin: 1rem auto 2rem auto;
    }

    .btn {
        margin: auto !important;
    }

    .btn-danger {
        margin-bottom: 1rem !important;
    }

    .buttons {
        padding-bottom: 2rem !important;
        margin-top: 0px !important;
    }

    .signup {
        margin-top: 1rem !important;
    }
}
